# Do not save databases
*.db

# VIM files
*.swp
*.un~
tags

# ignore Makefile as make are managed by qmake
crispy_chainsaw/Makefile*

*.o

.*.stash

*.pro.user

doc/

# build folders
build-*
# and builded files
moc_*.[ch]*
ui_*.[ch]*
crispy_chainsaw/crispy_chainsaw
